<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/unnamed.png">
    <link rel="stylesheet" href="/static/main.css">
    <title>Polemic Book</title>
</head>

<body>

    <img src="/static/PYh.gif" alt="cat" id="cat">

    <div class="filters" id="filters">
        <button class="filter-item" data-filter="javascript">Javascript</button>
        <button class="filter-item" data-filter="css">CSS</button>
        <button class="filter-item" data-filter="vuejs">Vue JS</button>
        <button class="filter-item" data-filter="node">Node JS</button>
        <button class="filter-item" data-filter="react">React JS</button>
    </div>

    <div class="search-box">
        <input type="text" name="search" id="search" placeholder="Search book">
        <button id="search-button">Search</button>
    </div>

    <section class="container" id="content"></section>

    <script src="/static/main.js"></script>
</body>

</html>